

//---ПОДКЛЮЧЕНИЕ ШРИФТОВ---//

//&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=PT+Sans:regular,italic,700,700italic");
@import url('http://fonts.cdnfonts.com/css/post-no-bills-jaffna');
@import url("https://fonts.googleapis.com/css?family=Playfair+Display:regular,500,600,700,800,900,italic,500italic,600italic,700italic,800italic,900italic");

// @import url("https://fonts.googleapis.com/css?family=Montserrat:regular,italic,500,500italic,600,600italic,700,700italic&subset=cyrillic-ext");
// @import url("https://fonts.googleapis.com/css?family=Teko:300,regular,500,600,700/&subset=cyrillic-ext");
// @import url("https://fonts.googleapis.com/css?family=Overpass+Mono:300");
// @import url("https://fonts.googleapis.com/css?family=Stalinist+One:regular");

   //---ПЕРЕМЕННЫЕ---//
     $minWidth: 320px;
	 $maxWigth: 1920;
	 $maxWidthContainer: 1180;
	 $md1: $maxWidthContainer + 12;
	 $md2: 991.98;
	 $md3: 767.98;
	 $md4: 479.98;

	
		// .main{
		// 	max-width: 1370px;
		// 	margin: 0 auto;
		// 	position: relative;
		// }


  //---ШРИФТ ПО УМОЛЧАНИЮ---//
  $fontfamily: "Montserrat" ;


  //---ОБНУЛЕНИЕ---//
   @import "null.scss";


//---КАРТИНКИ---//
.ibg{
	padding: 0px 0px 40% 0px ;
	overflow: hidden;
	position: relative;
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
		top: 0;
		left: 0;
	}
}

section{
	background-color: #000;
}
.center{
	display: flex;
	justify-content: center;
}
//----------------------------------------------------ШАПКА САЙТА---------------------------------------------------------------------------//


.header {

	&__top {
		font-family: PT Sans;
        font-size: 12px;
        line-height: 16px;
        color: #969696;
    a{
	color: #969696;
    }
	}

	&__bottom {
		span{
			color: wheat;
		}
	}
}

@media (min-width:1400px) {
	.col{
	margin: 0 60px;
}
}


.top-header {
	background-color: black;
	&__row{

		padding: 20px 10px 20px 10px ;
		max-width: 1200px;
		//margin: 0 auto;
		// display: flex;
		// justify-content: space-between;
		// align-items: center;
		//height: 44px;
	}
	&__workdays{
			@media (max-width: 768px) {
			display: none;
		}
	}

	&__phone{
		background: url(../img/phone.svg) left no-repeat;
		padding: 0px 0px 0px 20px ;
		text-decoration: none;
		&:hover{
			color: inherit;
			text-decoration: underline;
		}
		
	}

	&__link{
		background: url(../img/login.svg) left no-repeat;
		padding: 0px 0px 0px 20px ;
		text-decoration: none;
		&:hover{
		    color: inherit;
			text-decoration: underline;
		}
		&:last-child{
			background: none;
			padding: 0;
		}
	}
}
.bottom-header {
	background-color:  #0F0F0F;
	&__row{	
	padding: 0px 10px 0px 10px ;
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;	
	}	
		&__logo{
		font-family: Post No Bills Jaffna;
        font-weight: bold;
        font-size: 36px;
		color: rgb(255, 255, 255);
		text-decoration: none;
		&:hover{
			color:rgb(255, 255, 255) ;
		}
		}
	&__column {

	}
	&__column1{
		display: flex;
		align-items: center;
	}


	&__list {
		
		display: flex;
		align-items: center;
		margin: 0px 30px 0px 0px ;
		@media (min-width: 768px){
				:hover{
			background-color:#1F1F1F;
		}	
		}

	}

	&__link {
		margin: 0px 0px 0px 0px ;

        a{
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: PT Sans;
        font-size: 14px;
        text-transform: uppercase;
        color: #FFFFFF;
		width: 136px;
		height: 80px;
		text-decoration: none;
		&:hover{
			color:rgb(255, 255, 255) ;
		}
}

	}

	&__cart {
		z-index: 2;
		width: 22px;
		height: 22px;
		background: url(../img/cart.svg) no-repeat;
		margin: 0px 40px 0px 20px ;
		transition: 0.5s;
		@media (max-width: 600px) {
			margin: 0px 20px 0px 20px ;
		}
	}

	&__search {
		z-index: 1;
		width: 22px;
		height: 22px;
		background: url(../img/search.svg) no-repeat;
		transition: 0.5s;
	}
	&__cart:hover,&__search:hover{
		transform: scale(1.4) ;
		transition: 0.5s;
	}
}

//------------------------------------------------------------БУРГЕР------------------------------------------------------------------------------//

@media (max-width: 768px) {
	.menu-burger{
		overflow: hidden;
		position: relative;
		width: 30px;
		height: 25px;
		z-index: 2;
		&__burger{
		    span{
			    position: absolute;
			    top: 11px;
			    left: 0;
                width: 100%;
                height: 3px;
                background-color: #FFFFFF;
				transition: 0.5s;
		}
		}
	&__burger::after,
	&__burger::before{
			content: '';
			position: absolute;
            width: 100%;
			height: 3px;
			background-color: #FFFFFF;
			transition: 00.5s;
		}
		&__burger::after{
			left: 0;
			top: 0;
		}
		&__burger::before{
			bottom: 0;
			left: 0px;
		}
		&__burger.active{
			span{
			transition: 0.5s;
		 background: transparent;
			}
		}
		&__burger.active::after{
			transform: rotate(-135deg);
			transition: 00.5s;
			top: 43%;
		}

		&__burger.active::before{
            transform: rotate(135deg);
			bottom: 43%;
			transition: 00.5s ease 0.0s;
		}
		&__burger.active::before{
           // transform: rotate(135deg);
			//bottom: 43%;
			//transition: 00.5s ease 1s;
		}
	}


	.bottom-header {

		&__logo{
			position: relative;
			z-index: 2;
		}
		&__list {
			opacity: 0;
			visibility: hidden;
			transition: 00.5s;
			padding: 100px 0px 0px 0px;
            position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: block;
			background-color: rgb(14, 15, 15);
			a{
				margin: 0 auto;
				height: 100%;
				margin: 20px 0px 0px 0px ;
				
			}
		}
		&__list.active{
			visibility: visible;
			opacity: 1;
			transition: 00.5s;
			z-index: 2;
		}
		&__link {
		display: flex;
		align-items: center;
		justify-content: center;
		}
    }
}

//======================================================TITLE=================================================================
.title {
	color: blanchedalmond;
	position: relative;
	background-color: #000;
   
	&__content {
		overflow: hidden;
		position: relative;
		z-index: 1;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}

	&__title {
        margin-top: calc(20px + 140 * (100vw / 1920));
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 320px;
		height: 320px;
		border: 4px solid #FFFFFF;
		@media (max-width: 768px) {
			height: 220px;
			width: 220px;
		}
	}

	&__logo {
		font-family: Post No Bills Jaffna;
        font-weight: bold;
		font-size: 64px;
		line-height: 56px;
		text-align: center;
		
		border-bottom: 2px solid #FFFFFF;
		a{
		color: rgb(255, 255, 255);
		text-decoration: none;
		&:hover{
			color:rgb(255, 255, 255) ;
		}
		}
		@media (max-width: 568px) {
            font-size: 44px;
		}
	}

	&__city {
		font-family: PT Sans;
        font-size: 22px;
        line-height: 28px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
		@media (max-width: 568px) {
            font-size: 17px;
		}
	}

	&__text {
		max-width: 750px;
		font-family: PT Sans;
        font-size: 16px;
        line-height: 150%;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
		margin-top: 80px;
		color: #FFFFFF;
		padding-bottom: 30px;
	   padding-left: 10px;
	   padding-right: 10px;
		@media (max-width: 768px) {
            margin-top: 40px;
			font-size: 13px;
			line-height: 110%;
		}
		@media (max-width: 1920px) {
			padding-bottom: 5%;
		}
	}

	&__img {
		z-index: -1;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		img{
			max-height: 780px;
		}
	}
}
//=============================================CATALOG=================================================

.content {
background-color: #000;
	&__product {
		margin: 0 auto;
		max-width: 1920px;
		display: flex;
		justify-content: space-between;

		@media (max-width:1450px) {
			flex-wrap: wrap;
			justify-content: center;
		}
		
	}

	&__carts {	
		width: 100%;
	}
	&__carts-body{
		display: flex;
		justify-content: center;
		
		@media (max-width: 900px) {
			// justify-content: center;
			flex-wrap: wrap;
		}
	}

	&__catalog {
		display: flex;
		align-items: center;
		justify-content: flex-end;
		flex-direction: column;
		position: relative;
		width: 100%;
		overflow: hidden;
        max-width: 880px;
		height: calc(300px + 430 * (100vw / 1920));
		max-height: 730px;
    	margin-left: 70px;
		padding:0px 10px ;
		@media (max-width:1450px) {
			margin-left: 0;
		}
		@media (max-width:768px) {
		
		}
		span{
			position: relative;
			z-index: 1;
			margin-top: 10px;
			margin-bottom: 30px;
			display: block;
			width: 120px;
			height: 2px;
			background-color: white;
		}
	}

	&__title {
		position: relative;
		z-index: 1;
		font-family: Playfair Display;
        font-weight: bold;
        font-size: calc(16px + 20 * (100vw / 1920));
        line-height: 48px;
        text-transform: uppercase;
        color: #FFFFFF;
        
	}

	&__btn {
		position: relative;
		z-index: 1;
		font-family: PT Sans;
        font-size: 18px; 
        line-height: 23px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
		text-decoration: none;
		border: solid 1px white;
		padding: 7px 14px;
		margin-bottom: calc(40px + 60 * (100vw / 1920));
		
		@media (min-width: 1024px) {
			transition: 0.5s;
			&:hover{
			color: white;
			background-color: #1F1F1F;
			transition: 0.5s;
		}
		}
		
	}

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
        padding: 0px 10px ;
	}
}
.carts {
padding-bottom: 33px;
padding-left: 70px;
@media (max-width:1650px) {
	padding-left: 0;
	padding-bottom: 50px;
}
span{
    margin: 0 auto;
	margin-bottom: 50px;
	display: block;
	width: 120px;
	height: 2px;
	background-color: white;
}

	&__title {
		margin: 93px 0px 50px 0px ;
		font-family: Playfair Display;
        font-weight: bold;
        font-size: 36px;
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;

	}
}
.cart {
	max-width: 260px;
	text-decoration: none;
	display: flex;
	flex-direction: column;
	@media (min-width: 1024px) {
		transition: 0.5s;
		&:hover{
		transform: scale(1.2);
		transition: 0.5s;
	}
	}
	margin: 20px 10px ;
	
	
	&__body {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 260px;
		height: 325px;
	    background-color: #191B1C;
	}

	&__img {
		width: 215px;
		height: 215px;
	}

	&__description {
	}

	&__title {
		padding-top: 25px;
		font-family: Playfair Display;
        font-size: 18px;
        line-height: 24px;
        color: #FFFFFF;
	}

	&__price {
		font-family: Playfair Display;
        font-weight: bold;
        font-size: 16px;
        line-height: 21px;
        color: #D0D0D0;
       padding: 10px 0px ;
	}
}


//========================================================================================================================================



.contant-bottom {
background-color: #000;
	&__body {
		margin: 0 auto;
		max-width: 1920px;
		display: flex;
		justify-content: space-between;
       
		@media (max-width: 768px) {
            flex-flow: wrap;
		}
	}

	&__img {
		
		max-width: 880px;
        flex: 1 0 50%;
		padding-bottom: 30%;
        min-height: 400px;
		@media (max-width: 768px){
			order: 2;
		}
	}

	&__description {
		
		padding: 0px 10px ;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		@media (max-width: 768px){
			order: 1;
		}
	}

	&__title {
		font-family: Playfair Display;
		font-size: calc(16px + 20 * (100vw / 1920));
        line-height: 48px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
	}
	span{
		width: 120px;
		height: 2px;
		margin:40px 0px ;
		background-color: white;
	}

	&__text {
		max-width: 471px;
		font-family: PT Sans;
		text-align: center;
        font-size: 14px;
        line-height: 150%;
        color: #FFFFFF;
	}

	&__btn {
		text-decoration: none;
		font-family: PT Sans;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: #FFFFFF;
		border: solid 1px white;
		padding: 10px 20px ;
		margin-top: 73px;
		margin-bottom: 100px;
		&:hover{
			color: #FFFFFF;
		}
	}
}


//====================================================================================================

.list-product {
	padding-top: 120px;
	padding-bottom: 140px;
	@media (max-width: 768px) {
		padding-top: 60px;
		padding-bottom: 40px;
	}
.container {
	max-width: 1100px;
}

	&__body {
	    

	}

	&__title {
		
		text-transform: uppercase;
        text-align: center;
        font-family: Playfair Display;
        font-weight: bold;
        font-size: calc(16px + 20 * (100vw / 1920));
        line-height: 48px;
        color: #FFFFFF;
		span{
			text-align: center;
			margin: 0 auto;
			margin-top: 40px;
			margin-bottom: 80px;
			display: block;
			width: 120px;
			height: 2px;
			background-color: white;
			@media (max-width: 768px) {
				margin-top: 20px;
				margin-bottom: 40px;
			}
		}
	}        
}



.brands{
	padding-top: 60px;
	padding-bottom: 74px;
	background-color: #0F0F0F;

}




//==================================================================================================

.footer {
padding: 80px 0px ;
@media (max-width: 1024px) {
	padding: 40px 0px ;
	}
	color: #FFFFFF;
background: url(../img/background-footer.jpg) center no-repeat #000;
	&__row {
		margin: 0 auto;
		display: flex;
		max-width: 1100px;
		justify-content: center;
		@media (max-width: 1024px) {
			flex-wrap: wrap;
			align-items: center;
		}
	}

	&__column {
		padding:0px 10px ;
		flex: 0 0 33.333%;
		
		@media (max-width: 1024px) {
			flex: 0 1 100%;
			max-width: 500px;
		}
	}

	&__title {
		margin-bottom: 40px;
		font-family: Playfair Display;
        font-size:calc(10px + 14 * (100vw / 1920));
        line-height: 32px;
        text-transform: uppercase;
        color: #FFFFFF;		
		@media (max-width: 1024px) {
			margin-bottom: 25px;
			}
	}

	&__text {
		font-family: PT Sans;
        font-size: calc(8px + 6 * (100vw / 1920));
        color: #FFFFFF;
		@media (max-width: 1024px) {
		margin-bottom: 30px;
		}
	}

	&__link {
	}

	&__form {
		display: flex;
		margin-top: 35px;
	}

	&__input{
        width: 210px;
		height: 42px;
		background-color: rgba(255, 255, 255, 0.2);
		padding-left: 12px;
		padding-bottom: 4px;
		color: #FFFFFF;
		@media (max-width: 1024px) {
			width: 180px;
			height: 42px;
			}
	}

	&__button {
		width: 140px;
		height: 41px;
		background-color: #000;
		color: #FFFFFF;
		font-family: PT Sans;
		font-size: 14px;
		letter-spacing: 0.05em;
		@media (max-width: 1024px) {
			width: 120px;
			height: 42px;
			background-color: #191B1C;
			}
	}

}
.link-footer {

	&__row {
		display: flex;
		margin-bottom: 20px;
	}

	&__btn {
		cursor: pointer;
		padding: 10px 20px ;
		background-color: black;
		color: #D0D0D0;
		margin-right: 20px;
		font-family: PT Sans;
		font-size: 14px;
        line-height: 150%;
		@media (max-width: 1024px) {
			margin-right: 10px;
			}
	}
}


.bottom-footer {
background-color: rgb(0, 0, 0);
width: 100%;
&__body {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	max-width: 1100px;
}
	&__down {
		padding: 17px 10px ;
		font-family: PT Sans;
font-weight: bold;
font-size: 12px;
line-height: 16px;
text-decoration-line: underline;
color: #D0D0D0;
	}
}
